<!DOCTYPE html>
{% load bootstrap5 %} {% bootstrap_css %}
{% load stringfilters %}
{# Load the tag library #}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load socialaccount %}
<html>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'viewschedule' %}">Schedule</a>
                {% else %}
                <a class="nav-link" href="{% provider_login_url 'google' %}">Schedule</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'friendlist' %}">Friends List</a>
                {% else %}
                <a class="nav-link" href="{% provider_login_url 'google' %}">Friends List</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}">Search!</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="">Lou's List</a>
  </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
            <p class="text-light bg-dark">You are logged in as: {{ user.username }} &nbsp &nbsp</p>
            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% provider_login_url 'google' %}">Login With Google</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<body>
    <br>
    {% if request.user.is_authenticated %}
    <div class="d-flex justify-content-center">
        <form class="form-inline col-5 offset-sm-1 " action="{% url 'friend_result' %}">
            <div class="d-flex justify-content-center"></div>
            <input class="form-control  ml-sm-10 mb-2" type="search"   placeholder="search friend's email (Leave blank to see all users)" aria-label="Search" name="search">
        </div>
            <div class="text-center">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </div>
        </form>
    </div>
    {% endif %}
</body>

{% if request.user.is_authenticated %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">click name to see schedule</th>
            </tr>
        </thead>
    <tbody>
    {% load stringfilters %}
    {% for i in posts.userFriends.all %}
        <tr>
            <td class="text-center"><a href="{% url 'schedules' i.userName %}">{{i.userName}}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="text-center">
        <b style="font-size: 30px">You Currently Have No Friends</b>
    </div>
{% endif %}
</html>

