<!DOCTYPE html>
{% load bootstrap5 %} {% bootstrap_css %}
{% load stringfilters %}
{# Load the tag library #}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load socialaccount %}
<html>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'viewschedule' %}">Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Friends List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search' %}">Search!</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        {% if request.user.is_authenticated %}
            <a class="navbar-brand mx-auto" href="">{{ user.username }}'s Friend List</a>
        {% else %}
            <a class="navbar-brand mx-auto" href="">Friend List</a>
        {% endif %}
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ms-auto">
            {% if request.user.is_authenticated %}
            <p class="text-light bg-dark">You are logged in as: {{ user.username }} &nbsp &nbsp</p>
            <li class="nav-item">
                <a class="nav-link" href="logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% provider_login_url 'google' %}">Login With Google</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<body>
    <br>
    {% if request.user.is_authenticated %}
        <form class="form-inline col-5 offset-sm-1 " action="{% url 'friend_result' %}">
            <label class="ml-5 mb-0 col-md-6" for="first_name">Friend name</label>
            <input class="form-control  ml-sm-10 mb-2" type="search"   placeholder="search friend's email" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    {% endif %}
</body>
{% if request.user.is_authenticated %}
    {% for i in posts.userFriends.all %}
        <a href="{% url 'schedules' i.userName %}">{{i.userName}}</a>
    {% endfor %}
{% endif %}
</html>

