{% load socialaccount %}
<html>
  <body>
    <h1>UVA Class Schedules</h1>
    {% if user.is_authenticated %}
    <p>Welcome! You are logged in as {{ user.username }}</p>
    {% else %}
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
    {% endif %}
  </body>
    <h1>Departments</h1>
    <a href="{% url 'acct' %}">ACCT</a><br>
    <a href="{% url 'airs' %}">AIRS</a><br>
    <a href="{% url 'alar' %}">ALAR</a><br>
    <a href="{% url 'am' %}">AM</a><br>
    <a href="{% url 'amst' %}">AMST</a><br>
    <a href="{% url 'anth' %}">ANTH</a><br>
    <a href="{% url 'apma' %}">APMA</a><br>
    <a href="{% url 'arab' %}">ARAB</a><br>
    <a href="{% url 'arad' %}">ARAD</a><br>
    <a href="{% url 'arah' %}">ARAH</a><br>
    <a href="{% url 'arch' %}">ARCH</a><br>
    <a href="{% url 'arcy' %}">ARCY</a><br>
    <a href="{% url 'arh' %}">ARH</a><br>
    <a href="{% url 'arth' %}">ARTH</a><br>
    <a href="{% url 'artr' %}">ARTR</a><br>
    <a href="{% url 'arts' %}">ARTS</a><br>
    <a href="{% url 'asl' %}">ASL</a><br>
    <a href="{% url 'astr' %}">ASTR</a><br>
    <a href="{% url 'bims' %}">BIMS</a><br>
    <a href="{% url 'bioc' %}">BIOC</a><br>
    <a href="{% url 'biol' %}">BIOL</a><br>
    <a href="{% url 'biop' %}">BIOP</a><br>
    <a href="{% url 'bme' %}">BME</a><br>
    <a href="{% url 'bus' %}">BUS</a><br>
    <a href="{% url 'cass' %}">CASS</a><br>
    <a href="{% url 'ce' %}">CE</a><br>
    <a href="{% url 'cell' %}">CELL</a><br>
    <a href="{% url 'che' %}">CHE</a><br>
    <a href="{% url 'chem' %}">CHEM</a><br>
    <a href="{% url 'chin' %}">CHIN</a><br>
    <a href="{% url 'chtr' %}">CHTR</a><br>
    <a href="{% url 'clas' %}">CLAS</a><br>
    <a href="{% url 'cogs' %}">COGS</a><br>
    <a href="{% url 'cola' %}">COLA</a><br>
    <a href="{% url 'comm' %}">COMM</a><br>
    <a href="{% url 'conc' %}">CONC</a><br>
    <a href="{% url 'cpe' %}">CPE</a><br>
    <a href="{% url 'creo' %}">CREO</a><br>
    <a href="{% url 'cs' %}">CS</a><br>
    <a href="{% url 'danc' %}">DANC</a><br>
    <a href="{% url 'dem' %}">DEM</a><br>
    <a href="{% url 'dh' %}">DH</a><br>
    <a href="{% url 'dram' %}">DRAM</a><br>
    <a href="{% url 'ds' %}">DS</a><br>
    <a href="{% url 'ealc' %}">EALC</a><br>
    <a href="{% url 'east' %}">EAST</a><br>
    <a href="{% url 'ece' %}">ECE</a><br>
    <a href="{% url 'econ' %}">ECON</a><br>
    <a href="{% url 'edhs' %}">EDHS</a><br>
    <a href="{% url 'edis' %}">EDIS</a><br>
    <a href="{% url 'edlf' %}">EDLF</a><br>
    <a href="{% url 'ednc' %}">EDNC</a><br>
    <a href="{% url 'egmt' %}">EGMT</a><br>
    <a href="{% url 'ela' %}">ELA</a><br>
    <a href="{% url 'encw' %}">ENCW</a><br>
    <a href="{% url 'engl' %}">ENGL</a><br>
    <a href="{% url 'engr' %}">ENGR</a><br>
    <a href="{% url 'entp' %}">ENTP</a><br>
    <a href="{% url 'enwr' %}">ENWR</a><br>
    <a href="{% url 'esl' %}">ESL</a><br>
    <a href="{% url 'etp' %}">ETP</a><br>
    <a href="{% url 'eurs' %}">EURS</a><br>
    <a href="{% url 'evat' %}">EVAT</a><br>
    <a href="{% url 'evec' %}">EVEC</a><br>
    <a href="{% url 'evge' %}">EVGE</a><br>
    <a href="{% url 'evhy' %}">EVHY</a><br>
    <a href="{% url 'evsc' %}">EVSC</a><br>
    <a href="{% url 'fren' %}">FREN</a><br>
    <a href="{% url 'gbac' %}">GBAC</a><br>
    <a href="{% url 'gbus' %}">GBUS</a><br>
    <a href="{% url 'gccs' %}">GCCS</a><br>
    <a href="{% url 'gcnl' %}">GCNL</a><br>
    <a href="{% url 'gcom' %}">GCOM</a><br>
    <a href="{% url 'gds' %}">GDS</a><br>
    <a href="{% url 'germ' %}">GERM</a><br>
    <a href="{% url 'getr' %}">GETR</a><br>
    <a href="{% url 'ghss' %}">GHSS</a><br>
    <a href="{% url 'gnur' %}">GNUR</a><br>
    <a href="{% url 'gree' %}">GREE</a><br>
    <a href="{% url 'gsas' %}">GSAS</a><br>
    <a href="{% url 'gsci' %}">GSCI</a><br>
    <a href="{% url 'gsgs' %}">GSGS</a><br>
    <a href="{% url 'gsms' %}">GSMS</a><br>
    <a href="{% url 'gssj' %}">GSSJ</a><br>
    <a href="{% url 'gsvs' %}">GSVS</a><br>
    <a href="{% url 'hbio' %}">HBIO</a><br>
    <a href="{% url 'hebr' %}">HEBR</a><br>
    <a href="{% url 'hhe' %}">HHE</a><br>
    <a href="{% url 'hiaf' %}">HIAF</a><br>
    <a href="{% url 'hiea' %}">HIEA</a><br>
    <a href="{% url 'hieu' %}">HIEU</a><br>
    <a href="{% url 'hila' %}">HILA</a><br>
    <a href="{% url 'hime' %}">HIME</a><br>
    <a href="{% url 'hind' %}">HIND</a><br>
    <a href="{% url 'hisa' %}">HISA</a><br>
    <a href="{% url 'hist' %}">HIST</a><br>
    <a href="{% url 'hius' %}">HIUS</a><br>
    <a href="{% url 'hr' %}">HR</a><br>
    <a href="{% url 'hsci' %}">HSCI</a><br>
    <a href="{% url 'imp' %}">IMP</a><br>
    <a href="{% url 'inst' %}">INST</a><br>
    <a href="{% url 'isbu' %}">ISBU</a><br>
    <a href="{% url 'ishu' %}">ISHU</a><br>
    <a href="{% url 'isin' %}">ISIN</a><br>
    <a href="{% url 'isls' %}">ISLS</a><br>
    <a href="{% url 'isss' %}">ISSS</a><br>
    <a href="{% url 'it' %}">IT</a><br>
    <a href="{% url 'ital' %}">ITAL</a><br>
    <a href="{% url 'ittr' %}">ITTR</a><br>
    <a href="{% url 'japn' %}">JAPN</a><br>
    <a href="{% url 'jptr' %}">JPTR</a><br>
    <a href="{% url 'kich' %}">KICH</a><br>
    <a href="{% url 'kine' %}">KINE</a><br>
    <a href="{% url 'klpa' %}">KLPA</a><br>
    <a href="{% url 'kor' %}">KOR</a><br>
    <a href="{% url 'lar' %}">LAR</a><br>
    <a href="{% url 'lase' %}">LASE</a><br>
    <a href="{% url 'last' %}">LAST</a><br>
    <a href="{% url 'lati' %}">LATI</a><br>
    <a href="{% url 'law' %}">LAW</a><br>
    <a href="{% url 'ling' %}">LING</a><br>
    <a href="{% url 'lngs' %}">LNGS</a><br>
    <a href="{% url 'lppa' %}">LPPA</a><br>
    <a href="{% url 'lppl' %}">LPPL</a><br>
    <a href="{% url 'lppp' %}">LPPP</a><br>
    <a href="{% url 'lpps' %}">LPPS</a><br>
    <a href="{% url 'mae' %}">MAE</a><br>
    <a href="{% url 'math' %}">MATH</a><br>
    <a href="{% url 'mdst' %}">MDST</a><br>
    <a href="{% url 'med' %}">MED</a><br>
    <a href="{% url 'mesa' %}">MESA</a><br>
    <a href="{% url 'micr' %}">MICR</a><br>
    <a href="{% url 'misc' %}">MISC</a><br>
    <a href="{% url 'mse' %}">MSE</a><br>
    <a href="{% url 'msp' %}">MSP</a><br>
    <a href="{% url 'mubd' %}">MUBD</a><br>
    <a href="{% url 'muen' %}">MUEN</a><br>
    <a href="{% url 'mupf' %}">MUPF</a><br>
    <a href="{% url 'musi' %}">MUSI</a><br>
    <a href="{% url 'nasc' %}">NASC</a><br>
    <a href="{% url 'ncpr' %}">NCPR</a><br>
    <a href="{% url 'nesc' %}">NESC</a><br>
    <a href="{% url 'nuco' %}">NUCO</a><br>
    <a href="{% url 'nuip' %}">NUIP</a><br>
    <a href="{% url 'nurs' %}">NURS</a><br>
    <a href="{% url 'path' %}">PATH</a><br>
    <a href="{% url 'pc' %}">PC</a><br>
    <a href="{% url 'pers' %}">PERS</a><br>
    <a href="{% url 'petr' %}">PETR</a><br>
    <a href="{% url 'phar' %}">PHAR</a><br>
    <a href="{% url 'phil' %}">PHIL</a><br>
    <a href="{% url 'phs' %}">PHS</a><br>
    <a href="{% url 'phy' %}">PHY</a><br>
    <a href="{% url 'phys' %}">PHYS</a><br>
    <a href="{% url 'plac' %}">PLAC</a><br>
    <a href="{% url 'plad' %}">PLAD</a><br>
    <a href="{% url 'plan' %}">PLAN</a><br>
    <a href="{% url 'plap' %}">PLAP</a><br>
    <a href="{% url 'plcp' %}">PLCP</a><br>
    <a href="{% url 'plir' %}">PLIR</a><br>
    <a href="{% url 'plpt' %}">PLPT</a><br>
    <a href="{% url 'pol' %}">POL</a><br>
    <a href="{% url 'port' %}">PORT</a><br>
    <a href="{% url 'potr' %}">POTR</a><br>
    <a href="{% url 'ppl' %}">PPL</a><br>
    <a href="{% url 'pshm' %}">PSHM</a><br>
    <a href="{% url 'pslp' %}">PSLP</a><br>
    <a href="{% url 'pspa' %}">PSPA</a><br>
    <a href="{% url 'pspm' %}">PSPM</a><br>
    <a href="{% url 'psps' %}">PSPS</a><br>
    <a href="{% url 'pst' %}">PST</a><br>
    <a href="{% url 'psyc' %}">PSYC</a><br>
    <a href="{% url 'rela' %}">RELA</a><br>
    <a href="{% url 'relb' %}">RELB</a><br>
    <a href="{% url 'relc' %}">RELC</a><br>
    <a href="{% url 'relg' %}">RELG</a><br>
    <a href="{% url 'relh' %}">RELH</a><br>
    <a href="{% url 'reli' %}">RELI</a><br>
    <a href="{% url 'relj' %}">RELJ</a><br>
    <a href="{% url 'rels' %}">RELS</a><br>
    <a href="{% url 'russ' %}">RUSS</a><br>
    <a href="{% url 'rutr' %}">RUTR</a><br>
    <a href="{% url 'sans' %}">SANS</a><br>
    <a href="{% url 'sarc' %}">SARC</a><br>
    <a href="{% url 'sast' %}">SAST</a><br>
    <a href="{% url 'satr' %}">SATR</a><br>
    <a href="{% url 'sec' %}">SEC</a><br>
    <a href="{% url 'slav' %}">SLAV</a><br>
    <a href="{% url 'sltr' %}">SLTR</a><br>
    <a href="{% url 'soc' %}">SOC</a><br>
    <a href="{% url 'span' %}">SPAN</a><br>
    <a href="{% url 'stat' %}">STAT</a><br>
    <a href="{% url 'sts' %}">STS</a><br>
    <a href="{% url 'swah' %}">SWAH</a><br>
    <a href="{% url 'sys' %}">SYS</a><br>
    <a href="{% url 'turk' %}">TURK</a><br>
    <a href="{% url 'ud' %}">UD</a><br>
    <a href="{% url 'unst' %}">UNST</a><br>
    <a href="{% url 'urdu' %}">URDU</a><br>
    <a href="{% url 'usem' %}">USEM</a><br>
    <a href="{% url 'wgs' %}">WGS</a>
    <!--<p>{{ data }}</p>-->


</html>
